In [181]:
import pandas as pd
import random
import requests
import numpy as np

In [250]:
#import airports and lat long data
r = requests.get('https://opendata.socrata.com/resource/rxrh-4cxm.json')
x = r.json()
x[0]
df = pd.DataFrame(x)

In [251]:
df.head()

      latitude locationid    longitude
0  51.87805556        ADK  176.6461111
1  56.93861111        AKK     154.1825
2  60.90472222        Z13     161.4225
3  60.90277778        AKI  161.2305556
4        62.68        AUK       164.66

In [294]:
#add years 2000 through 2017 for each location
years = [x for x in range(2000, 2017)]
print(years)

[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]

In [253]:
x = pd.DataFrame({'a': 1, 'b':2}, index = range(1))

In [254]:
df = pd.concat([df] * (len(years)-1), ignore_index=True)

In [255]:
#test
#len(df[df['locationid']=='ADK']
df = df.sort_values(by='locationid').reset_index()

In [298]:
df.head()

   index     latitude locationid    longitude  year  costs
0   5013  59.85611111       00AK  151.6963889  2000  13416
1   3013  59.85611111       00AK  151.6963889  2001  16770
2   8013  59.85611111       00AK  151.6963889  2002  33540
3  12013  59.85611111       00AK  151.6963889  2003  10062
4   2013  59.85611111       00AK  151.6963889  2004  10062

In [300]:
print(len(df))
print(len(df)/17)

17000
1000.0

In [301]:
years = [x for x in range(2000, 2017)]
#gives years 2000-2016
series = pd.Series(x for x in years)
df['year'] = pd.concat([series]*1000, ignore_index=True)

In [302]:
len(df['locationid'].unique())

1000

In [303]:
df

       index     latitude locationid    longitude  year  costs
0       5013  59.85611111       00AK  151.6963889  2000  13416
1       3013  59.85611111       00AK  151.6963889  2001  16770
2       8013  59.85611111       00AK  151.6963889  2002  33540
3      12013  59.85611111       00AK  151.6963889  2003  10062
4       2013  59.85611111       00AK  151.6963889  2004  10062
5      13013  59.85611111       00AK  151.6963889  2005  33540
6      15013  59.85611111       00AK  151.6963889  2006   3354
7         13  59.85611111       00AK  151.6963889  2007   6708
8       6013  59.85611111       00AK  151.6963889  2008  20124
9      11013  59.85611111       00AK  151.6963889  2009  23478
10      9013  59.85611111       00AK  151.6963889  2010  16770
11      4013  59.85611111       00AK  151.6963889  2011  16770
12     14013  59.85611111       00AK  151.6963889  2012  20124
13      1013  59.85611111       00AK  151.6963889  2013  23478
14     10013  59.85611111       00AK  151.6963889  2014   3354
15     16013  59.85611111       00AK  151.6963889  2015  20124
16      7013  59.85611111       00AK  151.6963889  2016  13416
17     11645  34.86472222       00AL  86.77027778  2000  16770
18      8645  34.86472222       00AL  86.77027778  2001  33540
19      3645  34.86472222       00AL  86.77027778  2002  10062
20      9645  34.86472222       00AL  86.77027778  2003  10062
21     12645  34.86472222       00AL  86.77027778  2004  33540
22      4645  34.86472222       00AL  86.77027778  2005   3354
23     15645  34.86472222       00AL  86.77027778  2006   6708
24      7645  34.86472222       00AL  86.77027778  2007  20124
25      1645  34.86472222       00AL  86.77027778  2008  23478
26     16645  34.86472222       00AL  86.77027778  2009  16770
27       645  34.86472222       00AL  86.77027778  2010  16770
28     13645  34.86472222       00AL  86.77027778  2011  20124
29      2645  34.86472222       00AL  86.77027778  2012  23478
...      ...          ...        ...          ...   ...    ...
16970    989  34.00333333        Z95  110.4441667  2004  16770
16971  11989  34.00333333        Z95  110.4441667  2005  16770
16972  13989  34.00333333        Z95  110.4441667  2006  20124
16973   8989  34.00333333        Z95  110.4441667  2007  23478
16974  14989  34.00333333        Z95  110.4441667  2008   3354
16975   1989  34.00333333        Z95  110.4441667  2009  20124
16976  12989  34.00333333        Z95  110.4441667  2010  13416
16977   6989  34.00333333        Z95  110.4441667  2011  16770
16978   5989  34.00333333        Z95  110.4441667  2012  33540
16979   2989  34.00333333        Z95  110.4441667  2013  10062
16980  15989  34.00333333        Z95  110.4441667  2014  10062
16981   7989  34.00333333        Z95  110.4441667  2015  33540
16982   3989  34.00333333        Z95  110.4441667  2016   3354
16983   9311  60.98055556        ZNC  159.9936111  2000   6708
16984   7311  60.98055556        ZNC  159.9936111  2001  20124
16985  15311  60.98055556        ZNC  159.9936111  2002  23478
16986   8311  60.98055556        ZNC  159.9936111  2003  16770
16987  13311  60.98055556        ZNC  159.9936111  2004  16770
16988  12311  60.98055556        ZNC  159.9936111  2005  20124
16989   3311  60.98055556        ZNC  159.9936111  2006  23478
16990   2311  60.98055556        ZNC  159.9936111  2007   3354
16991   6311  60.98055556        ZNC  159.9936111  2008  20124
16992   4311  60.98055556        ZNC  159.9936111  2009  13416
16993  11311  60.98055556        ZNC  159.9936111  2010  16770
16994   1311  60.98055556        ZNC  159.9936111  2011  33540
16995   5311  60.98055556        ZNC  159.9936111  2012  10062
16996  10311  60.98055556        ZNC  159.9936111  2013  10062
16997    311  60.98055556        ZNC  159.9936111  2014  33540
16998  14311  60.98055556        ZNC  159.9936111  2015   3354
16999  16311  60.98055556        ZNC  159.9936111  2016   6708

[17000 rows x 6 columns]

In [324]:
#create airport costs
in_airport_yearly_costs = [random.randint(1,10) for x in range(1, 18)] #17 unique numbers
series = pd.Series(costs for costs in in_airport_yearly_costs) # put into series

#multiply the 17 unique numbers by random multiplier
df['costs'] = pd.concat([series*random.randint(1,10000)]*1000, ignore_index=True)

In [325]:
#create airport # of trainees
in_airport_yearly_trainees = [random.randint(1,10) for x in range(1, 18)] #17 unique numbers
series = pd.Series(trainee for trainee in in_airport_yearly_trainees) # put into series

#multiply the 17 unique numbers by random multiplier
df['# of trainees'] = pd.concat([series*random.randint(1,10000)]*1000, ignore_index=True)

In [326]:
#create airport # of trainees pass
in_airport_yearly_trainees_p = [random.randint(1,10) for x in range(1, 18)] #17 unique numbers
series = pd.Series(trainee_p for trainee_p in in_airport_yearly_trainees_p) # put into series

#multiply the 17 unique numbers by random multiplier
df['# of trainees_p'] = pd.concat([series*random.randint(1,1000)]*1000, ignore_index=True)

In [327]:
df

,index,latitude,locationid,longitude,year,costs,# of trainees,# of trainees_p
0,5013,59.85611111,00AK,151.6963889,2000,83990,72460,890
1,3013,59.85611111,00AK,151.6963889,2001,50394,21738,1602
2,8013,59.85611111,00AK,151.6963889,2002,41995,43476,1246
3,12013,59.85611111,00AK,151.6963889,2003,16798,43476,178
4,2013,59.85611111,00AK,151.6963889,2004,16798,28984,1246
5,13013,59.85611111,00AK,151.6963889,2005,67192,14492,1246
6,15013,59.85611111,00AK,151.6963889,2006,75591,65214,178
7,13,59.85611111,00AK,151.6963889,2007,50394,50722,178
8,6013,59.85611111,00AK,151.6963889,2008,8399,72460,712
9,11013,59.85611111,00AK,151.6963889,2009,8399,50722,1780
10,9013,59.85611111,00AK,151.6963889,2010,75591,50722,890
11,4013,59.85611111,00AK,151.6963889,2011,16798,28984,178
12,14013,59.85611111,00AK,151.6963889,2012,33596,14492,1424
13,1013,59.85611111,00AK,151.6963889,2013,67192,72460,1068
14,10013,59.85611111,00AK,151.6963889,2014,83990,28984,178
15,16013,59.85611111,00AK,151.6963889,2015,50394,28984,1068
16,7013,59.85611111,00AK,151.6963889,2016,58793,43476,356
17,11645,34.86472222,00AL,86.77027778,2000,83990,72460,890
18,8645,34.86472222,00AL,86.77027778,2001,50394,21738,1602
19,3645,34.86472222,00AL,86.77027778,2002,41995,43476,1246
20,9645,34.86472222,00AL,86.77027778,2003,16798,43476,178
21,12645,34.86472222,00AL,86.77027778,2004,16798,28984,1246
22,4645,34.86472222,00AL,86.77027778,2005,67192,14492,1246
23,15645,34.86472222,00AL,86.77027778,2006,75591,65214,178
24,7645,34.86472222,00AL,86.77027778,2007,50394,50722,178
25,1645,34.86472222,00AL,86.77027778,2008,8399,72460,712
26,16645,34.86472222,00AL,86.77027778,2009,8399,50722,1780
27,645,34.86472222,00AL,86.77027778,2010,75591,50722,890
28,13645,34.86472222,00AL,86.77027778,2011,16798,28984,178
29,2645,34.86472222,00AL,86.77027778,2012,33596,14492,1424
...,...,...,...,...,...,...,...,...
16970,989,34.00333333,Z95,110.4441667,2004,16798,28984,1246
16971,11989,34.00333333,Z95,110.4441667,2005,67192,14492,1246
16972,13989,34.00333333,Z95,110.4441667,2006,75591,65214,178
16973,8989,34.00333333,Z95,110.4441667,2007,50394,50722,178
16974,14989,34.00333333,Z95,110.4441667,2008,8399,72460,712
16975,1989,34.00333333,Z95,110.4441667,2009,8399,50722,1780
16976,12989,34.00333333,Z95,110.4441667,2010,75591,50722,890
16977,6989,34.00333333,Z95,110.4441667,2011,16798,28984,178
16978,5989,34.00333333,Z95,110.4441667,2012,33596,14492,1424
16979,2989,34.00333333,Z95,110.4441667,2013,67192,72460,1068
16980,15989,34.00333333,Z95,110.4441667,2014,83990,28984,178
16981,7989,34.00333333,Z95,110.4441667,2015,50394,28984,1068
16982,3989,34.00333333,Z95,110.4441667,2016,58793,43476,356
16983,9311,60.98055556,ZNC,159.9936111,2000,83990,72460,890
16984,7311,60.98055556,ZNC,159.9936111,2001,50394,21738,1602
16985,15311,60.98055556,ZNC,159.9936111,2002,41995,43476,1246
16986,8311,60.98055556,ZNC,159.9936111,2003,16798,43476,178
16987,13311,60.98055556,ZNC,159.9936111,2004,16798,28984,1246
16988,12311,60.98055556,ZNC,159.9936111,2005,67192,14492,1246
16989,3311,60.98055556,ZNC,159.9936111,2006,75591,65214,178
16990,2311,60.98055556,ZNC,159.9936111,2007,50394,50722,178
16991,6311,60.98055556,ZNC,159.9936111,2008,8399,72460,712
16992,4311,60.98055556,ZNC,159.9936111,2009,8399,50722,1780
16993,11311,60.98055556,ZNC,159.9936111,2010,75591,50722,890
16994,1311,60.98055556,ZNC,159.9936111,2011,16798,28984,178
16995,5311,60.98055556,ZNC,159.9936111,2012,33596,14492,1424
16996,10311,60.98055556,ZNC,159.9936111,2013,67192,72460,1068
16997,311,60.98055556,ZNC,159.9936111,2014,83990,28984,178
16998,14311,60.98055556,ZNC,159.9936111,2015,50394,28984,1068
16999,16311,60.98055556,ZNC,159.9936111,2016,58793,43476,356

In [328]:

df[df['# of trainees_p']>df['# of trainees']]

Empty DataFrame
Columns: [index, latitude, locationid, longitude, year, costs, # of trainees, # of trainees_p]
Index: []