In [1]:
import pandas as pd
import random
import requests
import numpy as np

In [111]:
#import airports and lat long data
r = requests.get('https://opendata.socrata.com/resource/rxrh-4cxm.json')
x = r.json()
x[0]
df = pd.DataFrame(x)

In [112]:
df.head()

      latitude locationid    longitude
0  51.87805556        ADK  176.6461111
1  56.93861111        AKK     154.1825
2  60.90472222        Z13     161.4225
3  60.90277778        AKI  161.2305556
4        62.68        AUK       164.66

In [113]:
#add years 2000 through 2017 for each location
years = [x for x in range(2000, 2017)]
print(years)
print(len(years))

[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]
17

In [114]:
#x = pd.DataFrame({'a': 1, 'b':2}, index = range(1))

In [115]:
df = pd.concat([df] * (len(years)), ignore_index=True)

In [116]:
#test
#len(df[df['locationid']=='ADK']
df = df.sort_values(by='locationid').reset_index()

In [117]:
df.head()

   index     latitude locationid    longitude
0   5013  59.85611111       00AK  151.6963889
1   3013  59.85611111       00AK  151.6963889
2   8013  59.85611111       00AK  151.6963889
3  12013  59.85611111       00AK  151.6963889
4   2013  59.85611111       00AK  151.6963889

In [118]:
print(len(df))
print(len(df)/17)

17000
1000.0

In [119]:
years = [x for x in range(2000, 2017)]
#gives years 2000-2016
series = pd.Series(x for x in years)
df['year'] = pd.concat([series]*1000, ignore_index=True)

In [120]:
len(df['locationid'].unique())

1000

In [121]:
#create airport costs
in_airport_yearly_costs = [random.randint(1,10) for x in range(1, 18)] #17 unique numbers
series = pd.Series(costs for costs in in_airport_yearly_costs) # put into series
df['costs'] = pd.concat([series]*1000, ignore_index=True)

In [122]:
def randomize_costs(row):
    return row['costs'] * random.randint(1,1000)

df['costs'] = df.apply(randomize_costs, axis=1)

In [128]:
#create airport # of trainees
in_airport_yearly_trainees = [random.randint(10,100) for x in range(1, 18)] #17 unique numbers
series = pd.Series(trainee for trainee in in_airport_yearly_trainees) # put into series
#multiply the 17 unique numbers by random multiplier
df['trainees_total'] = pd.concat([series]*1000, ignore_index=True)

In [129]:
def randomize_trainees(row):
    return row['trainees_total'] * random.randint(100,1000)

df['trainees_total'] = df.apply(randomize_trainees, axis=1)

In [125]:
#create airport # of trainees pass
in_airport_yearly_trainees_p = [random.randint(1,10) for x in range(1, 18)] #17 unique numbers
series = pd.Series(trainee_p for trainee_p in in_airport_yearly_trainees_p) # put into series

#multiply the 17 unique numbers by random multiplier
df['trainees_pass'] = pd.concat([series]*1000, ignore_index=True)

In [126]:
def randomize_trainees_pass(row):
    return row['trainees_pass'] * random.randint(1,100)

df['trainees_pass'] = df.apply(randomize_trainees_pass, axis=1)

In [130]:
df[df['trainees_pass']>df['trainees_total']]

Empty DataFrame
Columns: [index, latitude, locationid, longitude, year, costs, trainees_total, trainees_pass]
Index: []

In [131]:
df.to_csv('trainee_costs.csv')